{% extends 'seller/detail_extensio.html' %}
{% load humanize %}
{% block detail_block %}

    <div class="p-2 border-bottom mx-auto row detail" style="width: 50%;">
    {% if user.is_staff %}
        <h3 class="col-sm-2 font" ><a href="{% url 'management:admin_home' %}">Back</a></h3>
        <h3 class="col-sm-3 font"><a href="{% url 'management:delete'  detail.pk  %}">Delete</a></h3>
        <h3 class="col-sm-2 font"><a href="{% url 'management:sold' detail.pk %}">Sold</a></h3>
        <h3 class="col-sm-3 font"><a href="{% url 'management:approve' detail.pk %}">Approve</a></h3>
        <h3 class="col-sm-2 font"><a href="{% url 'management:reject' detail.pk %}">Reject</a></h3>
    {% endif %}

    </div>
    <div class="container" style="width: fit-content" id="width">
        <h3 class="font">{{ detail.title }}</h3>
        <img src="{{ detail.get_photo_url }}"class="mt-3" id="detail-img" alt="">
        <div class="row p-2 m-0" style="background-color: rgba(169,169,169,0.9)">
            <div class="col-sm-5">
                <h3 class="m-0 font">PKR: {{ detail.price }}</h3>
            </div>
            <div class="col-sm-7" id="font-s">
                <img src="../../../media/css_styles/bath-solid.svg" id="footer-icon1"  alt="">
                <span class=" ml-2 mr-3" style="font-size: x-large">{{ detail.bathroom }}</span>
                <img src="../../../media/css_styles/bed-solid.svg" id="footer-icon2" alt="">
                <span class=" ml-2 mr-3" style="font-size: x-large">{{ detail.bedrooms }}</span>
                <img src="../../../media/css_styles/ruler-combined-solid.svg" id="footer-icon1"   alt="">
                <span class="m-0 ml-1" style="font-size: x-large">{{ detail.size }} {{ detail.unit }}</span>            </div>
        </div>
        <h3 class="text-center bg-white p-2 mt-2">Overview</h3>
        <div class="row p-4 m-0 border-bottom" style="background-color: rgba(169,169,169,0.9)">
            <div class="col-lg-6">
                <h5>Type: {{ detail.type }}</h5>
                <h5 class="mt-4 mb-4">Pupose: {{ detail.purpose }}</h5>
                <h5>Area: {{ detail.size }} {{ detail.unit }}</h5>
                <h5 class="mt-4">Price: {{ detail.price }}</h5>
            </div>
            <div class="col-lg-6">
                <h5>Bathrooms: {{ detail.bathroom }}</h5>
                 <h5 class="mt-4 mb-4">Bedrooms: {{ detail.bedrooms }}</h5>
                <h5>Uploaded: {{ detail.timestamp|naturaltime }}</h5>

                <h5 class="mt-4">Location: {{ detail.address }}</h5>

            </div>

        </div>
    <div class="p-4" style="background-color: rgba(169,169,169,0.9)">
        <h4>Description:</h4>
        <p class="mt-3 font">{{ detail.description }}</p>
    </div>

    </div>
{% endblock %}