<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_jquery %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/seller.css' %}">
    </head>
<body>

    <div id="property-bg" >
    <div id="transparent">

        <div class="navbar" style="color: white">
            <h1 id="h1" style="width: 70%;color: white">
                REMS
            </h1>

            <p class="get"><a style="color: white" href="{% url 'seller:buyer_home' %}">Buyer home</a></p>
            <p class="get-dwedcisplay"><a style="color: white" href="{% url 'seller:passwords' %}">Change password</a></p>
            <p class="get-displwdcay"><a style="color: white" href="{% url 'account:logout' %}">Logout</a></p>
        </div>
        <div style="width:fit-content;background-color: white;color:black;border-radius: 8px;position:sticky;top: 5%;z-index: 2"
         class="ml-5">

    <h3 id="btn-1" style="font-size: 30px" class="p-2 ">
        Menu
        <img src=../../../media/css_styles/list-ul-solid.svg alt="list" style="height: 40px">
    </h3>
    </div>
    <div class="row m-0 p-2 fade-out" style="height:220vh" id="side-menu">
        <div class="col-sm-10 bg-dark p-5" >
            <div>
        <div style="display: flex">
            <h1 class="m-0 p-5" style="width: 90%;color: white">REMS</h1>
            <h3 class="p-5"><span style="font-size: 30px" id="btn" class=" p-3 btn btn-danger">X</span></h3>
        </div>

        <h6  class="m-0 p-5 border-bottom"><a style="color: white"  href="{% url 'management:seller' %}">
                        Seller
                    </a></h6>
        <h6  class="m-0 p-5 border-bottom"><a style="color: white"  href="{% url 'management:buyer' %}">
                        Buyer
                    </a></h6>
        <h6  class="m-0 p-5 border-bottom" ><a href="{% url 'seller:house' %}">Houses</a></h6>

        <h6  class="m-0 p-5 border-bottom" ><a href="{% url 'seller:plot' %}">Plots</a></h6>

        <h6  class="m-0 p-5 border-bottom"><a href="{% url 'seller:rent' %}">Rent</a></h6>
        <h6  class="m-0 p-5 border-bottom" ><a href="{% url 'seller:plot' %}">Plots</a></h6>
        <h6  class="m-0 p-5 border-bottom" >  <a style="color: white" href="{% url 'management:Approve' %}">Approved</a>
</h6>
        <h6  class="m-0 p-5 border-bottom" ><a style="color: white" href="{% url 'management:Reject' %}">Rejected</a></h6>
        <h6  class="m-0 p-5 border-bottom" ><a style="color: white" href="{% url 'management:Pending' %}">Pending</a></h6>
        <h6  class="m-0 p-5 border-bottom" ><a style="color: white" href="{% url 'management:Sold' %}">Sold</a></h6>


</div>
        </div>
    </div>
{#    {% block check %}#}
{#        {% include 'management/new.html' %}#}
{#            <form method="GET" class="container" style="color: white">#}
{#                {% csrf_token %}#}
{#            <p style="display: inline">{{ search.form }}</p>#}
{#            <input type="submit" value="Search" class="btn btn-success">#}
{#        </form>#}
{#        {{ result }}#}
{#    {% endblock %}#}

        <div class="row m-0 mx-auto" style="width: 80%;">
            <div class="col-lg-4 bg-dark p-5 get-display" style="width: 50%">
                <div>
                    <h5  class="border-bottom p-3"><a style="color: white"  href="{% url 'management:seller' %}">
                        Seller
                    </a></h5>
                    <h5 class="mt-4 border-bottom p-3"><a style="color: white"  href="{% url 'management:buyer' %}">
                        Buyer
                    </a></h5>
                    <div style="color: white" class="mt-4">
                        <h5 class="border-bottom p-3"style="color: white" >Type</h5>
                        <div class="container" >
                            <p class="p-2 mt-4 border-bottom">
                                <a style="color: white" href="{% url 'management:Houses' %}">House</a>
                            </p>
                            <p class="p-2 border-bottom">
                                <a style="color: white" href="{% url 'management:Plot' %}">Plot</a>
                            </p>
                            <p class="p-2 border-bottom">
                                <a style="color: white" href="{% url 'management:Commercial' %}">Commercial</a>
                            </p>
                        </div>
                    </div>
                    <div>
                        <h5 class="mt-4 border-bottom p-3"><a style="color: white"  href="{% url 'management:All' %}">
                            Property</a></h5>
                        <div class="container" >
                            <p class="border-bottom p-3 mt-4">
                                <a style="color: white" href="{% url 'management:Approve' %}">Approved</a>
                            </p>
                            <p class="border-bottom p-3">
                                <a style="color: white" href="{% url 'management:Reject' %}">Rejected</a>
                            </p>
                            <p class="border-bottom p-3">
                                <a style="color: white" href="{% url 'management:Pending' %}">Pending</a>
                            </p>
                            <p class="border-bottom p-3">
                                <a style="color: white" href="{% url 'management:Sold' %}">Sold</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 m-0" id="width2">
                {% block admin %}
                    <div class="div" style="color:white;">
                        <h1>Welcome to the admin dashboard</h1>
                    </div>
                    {% block check %}
                        {% include 'management/new.html' %}
                    {% endblock %}
                {% endblock %}

            </div>
        </div>
        </div>

    </div>

</body>

<script src="../../../static/js/index.js"></script>



</html>